/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}
body {
  background-color: rgb(243, 225, 167);
}
#output {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 70rem;
  justify-content: center;
}
#output h1 {
  font-size: 1.5rem;
}
#output li {
  font-size: 0.8rem;
}

.car-card {
  flex-wrap: wrap;
  border: 1px solid whitesmoke;
  box-shadow: 6px 6px 4px whitesmoke;
  width: 16rem;
  background-color: whitesmoke;
  padding-left: 2rem;
}
